.container {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #faf5e4;
  height: 88px;
}

.wrapped {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* border: 1px solid black; */
  width: 80%;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
